* {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
	background-color: rgb(211, 224, 239);
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	width: 350px;
	height: 500px;
	border-radius: 20px;
	background-color: rgb(255, 249, 249);
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.qr-code {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

img {
	width: 300px;
	height: 290px;
	border-radius: 10px;
	margin-top: 10px;
}

.text-box {
	margin: 15px 10px;
	text-align: center;
}

p {
	font-size: 0.9rem;
	font-weight: 400;
	padding-bottom: 20px;
}
